/* General Body Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; /* Primary font for clean look */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('background2.jpg') no-repeat center center/cover; /* Use ship image as the background */
    color: white;
}

/* Logo in the Top-Left */
.logo-container {
    position: absolute;
    top: 20px;
    left: 20px;
}

.logo {
    max-width: 120px; /* Adjust size of the logo */
}

/* Content Container Without Background */
.content-container {
    text-align: center;
    padding: 30px 20px;
}

/* Business Name Styles */
.brand-name {
    font-family: 'Playfair Display', serif; /* Elegant serif font for title */
    font-size: 3.5em;
    font-weight: 700;
    color: #ff5733; /* Gold color for premium look 98FB98*/
    margin-bottom: 10px;
}

/* Coming Soon Text */
.coming-soon-text {
    font-family: 'Playfair Display', serif; /* Elegant and modern font */
    font-size: 2.5em; /* Increased size for prominence */
    font-weight: 700;
    color: #ffffff; /* Vibrant orange for standout effect ff5733*/
    margin: 20px 0;
    text-transform: uppercase;
}

/* Slogan */
.slogan {
    font-family: 'Roboto', sans-serif; /* Clean and modern sans-serif font */
    font-size: 1.2em;
    font-weight: 400;
    color: #ffffff; /* Bright white for contrast */
    margin-top: 10px;
    line-height: 1.5;
}
